@keyframes rotate {
    0% {
        transform: rotate(0deg);
        border-left-color: #00bb78;
        border-top-color: #00bb78;
        border-right-color: #00bb78;
        border-bottom-color: transparent;
    }
    50% {
        transform: rotate(180deg);
        border-left-color: #005733;
        border-top-color: #005733;
        border-right-color: #005733;
        border-bottom-color: #00bb78;
    }
    100% {
        transform: rotate(360deg);
        border-left-color: #00bb78;
        border-top-color: #00bb78;
        border-right-color: #00bb78;
        border-bottom-color: transparent;
    }
}

@keyframes pulse {
    0%,
    100% {
        filter: drop-shadow(0 0 10px rgba(0, 187, 120, 0.75))
            drop-shadow(0 0 20px rgba(0, 187, 120, 0.5))
            drop-shadow(0 0 30px transparent);
    }
    50% {
        filter: drop-shadow(0 0 15px #005733 rgba(0, 87, 51, 0.85))
            drop-shadow(0 0 30px rgba(0, 187, 120, 0.35))
            drop-shadow(0 0 40px rgba(0, 187, 120, 0));
    }
}
@keyframes inPulse {
    0%,
    100% {
        box-shadow: 0 0 10px #00bb78, 0 0 20px #00bb78, 0 0 30px transparent;
    }
    50% {
        box-shadow: 0 0 15px #005733, 0 0 25px #005733, 0 0 40px transparent;
    }
}
.loading {
    display: inline-block;
    padding: 20px;
    border: 6px solid transparent;
    border-radius: 50%;
    border-bottom: none; //Style test
    height: 60px;
    width: 60px;
    animation: rotate 1.5s infinite linear, pulse 2s infinite ease-in-out,
        inPulse 2s infinite ease-in-out;
    background: transparent;
}

@keyframes rikSpikeRoll {
    0%,
    100% {
        background-size: 2px 2px;
    }
    25% {
        background-size: 10px 50px;
    }
    50% {
        background-size: 8px 8px;
    }
    75% {
        background-size: 10px 50px;
    }
}

.loader {
    display: inline-block;
    width: 120px;
    height: 10px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#00bb78 50px, transparent 0),
        linear-gradient(#00906d 50px, transparent 0),
        linear-gradient(#007b55 50px, transparent 0),
        linear-gradient(#006c44 50px, transparent 0),
        linear-gradient(#005733 50px, transparent 0),
        linear-gradient(#004922 50px, transparent 0),
        linear-gradient(#005733 50px, transparent 0),
        linear-gradient(#007b55 50px, transparent 0);
    background-position: 0 center, 15px center, 30px center, 45px center,
        60px center, 75px center, 90px center, 105px center;
    animation: rikSpikeRoll 1.5s linear infinite, pulse 2s infinite ease-in-out;
}
