#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    margin-top: 80px !important; /* Ajuste en fonction de la hauteur du header */
}
