a,
hr {
    color: inherit;
}
.employee-table,
table {
    border-collapse: collapse;
}
* {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
:after,
:before {
    --tw-content: "";
}
:host,
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    line-height: inherit;
}
hr {
    height: 0;
    border-top-width: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
a {
    text-decoration: inherit;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    text-transform: none;
}
[role="button"],
button {
    cursor: pointer;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}
img,
video {
    max-width: 100%;
    height: auto;
}
menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
table {
    border-color: inherit;
    text-indent: 0;
}
textarea {
    resize: vertical;
}
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #ffffffde;
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --main-color: rgb(37, 99, 235);
    --main-color-hover: rgb(29, 78, 216);
    --error-color: rgb(239, 68, 68);
    --valid-color: rgb(34, 197, 94);
    --border-color: rgb(209, 213, 219);
    --background-dark: #242424;
    --blur: rgba(23, 30, 40, 0.8);
}
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-inner_content {
    padding: 20px !important;
}
.bg,
.header,
.main-heading,
form {
    background-color: var(--blur);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.bg,
.main-container,
form {
    position: relative;
}
.info-icon,
.logo-link,
.main-container,
.nav,
.pagination-container,
.search-filter-container,
.table-header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav,
.pagination-container,
.table-header-content {
    justify-content: space-between;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 1080px;
    color: #fff;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 50;
}
.logo-image {
    height: 3.5rem;
    width: auto;
}
.user-nav-link {
    color: #fff;
    transition: color 0.3s ease-in-out;
}
.user-nav-link:hover {
    color: var(--valid-color);
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.nav {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
}
.main-container {
    margin: 118px 0 0 !important;
    border-radius: 0.25rem;
    min-height: calc(100vh - 88px - 94px);
    height: 100%;
    top: -32px;
    flex-flow: column nowrap;
}
.main-heading {
    font-size: 1.25rem;
    width: 100%;
    font-weight: 700;
    padding: 2rem 0 0;
    margin: 0;
    border-radius: 2rem 2rem 0 0;
}
.bg,
form {
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 2rem 2rem 4rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
form {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}
.form-section {
    border: 1px solid var(--border-color);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    min-width: 280px;
}
.form-label {
    font-weight: 600;
    padding: 0 0.5rem;
}
.field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.input-field-label .error-indicator,
.select-field-label .error-indicator {
    color: var(--error-color);
}
.input-field,
.select-field {
    outline: 0;
    width: 100%;
    min-width: 270px;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);
    transition: border-color 0.3s;
}
.input-field.valid,
.select-field.ok,
.select-field.ok:focus-visible {
    border: 1.5px solid #28a745;
}
.form-section .select-field {
    appearance: none;
}
.input-field.valid,
.select-field.ok {
    border-color: var(--valid-color);
}
.input-field.error,
.select-field.error {
    border-color: var(--error-color);
}
.input-field-disabled,
.input-field-error,
.select-field-error {
    color: var(--error-color);
    font-size: 0.875rem;
    margin-top: 0.25rem;
    text-align: left;
}
.disabled {
    border-color: #838383 !important;
    color: #838383;
    cursor: not-allowed;
    display: block;
    max-width: 270px;
}
.button-primary {
    background-color: var(--main-color);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 1.35rem;
    margin: 0 auto;
}
.button-primary:hover {
    background-color: var(--main-color-hover);
}
input,
select {
    background-color: var(--background-dark) !important;
    cursor: pointer;
}
input:-webkit-autofill,
select:-webkit-autofill {
    background-color: var(--background-dark) !important;
    background-image: none !important;
    background-size: 0;
    background-repeat: no-repeat;
    padding-right: 0.5rem;
    background-position: right 0.5rem center;
    -webkit-box-shadow: 0 0 0 1000px var(--background-dark) inset !important;
    box-shadow: 0 0 0 1000px var(--background-dark) inset !important;
}
input:focus-visible {
    outline: 0;
}
.input-field {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #d1d5db;
    transition: border-color 0.3s;
}
.field-label {
    font-weight: 400;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
}
.empty-message {
    text-align: center;
    color: var(--error-color);
    margin-top: 16px;
}
.table-container {
    overflow-x: auto;
}
.employee-table {
    min-width: 1080px;
    width: 100%;
    border: 1px solid #d1d5db;
    margin-top: 0.5rem;
}
.pagination-container {
    position: relative;
    top: 2rem;
}
.info-icon,
.info-icon svg {
    position: absolute !important;
}
.pagination-button {
    padding: 0.25rem 1rem;
    border-width: 1px;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: inherit;
    color: inherit;
    text-transform: none;
}
.pagination-button:focus,
.pagination-button:focus-visible,
.pagination-button:hover {
    font-weight: 500;
    background-color: var(--main-color);
    color: #fff;
}
.pagination-button:disabled {
    background-color: transparent;
    border: 1px solid #ccc !important;
    opacity: 0.5;
    cursor: not-allowed;
}
.pagination-text {
    font-weight: 600;
}
.search-filter-container {
    min-width: 470px;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: space-between;
}
.search-filter-container .field-container {
    flex-flow: row;
    align-items: baseline;
    gap: 0.5rem;
    margin: 0;
}
#pages-nb-selector {
    margin: 0;
    padding: 0.25rem 0 0.25rem 0.5rem;
}
.table-header-row {
    background-color: #e2e8f0;
    color: #4a5568;
    font-size: 0.875rem;
}
.table-header-cell {
    border: 1px solid #d1d5db;
    padding: 0.5rem;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s;
}
.table-header-cell:focus,
.table-header-cell:hover {
    background-color: #edf2f7;
}
.table-header-content {
    gap: 0.5rem;
}
.column-name {
    color: #2d3748;
}
.sort-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sort-icon {
    font-size: 0.75rem;
    color: #e2e8f0;
}
.sort-asc,
.sort-desc {
    color: #000;
    font-weight: 700;
}
.sort-inactive,
.table-header-cell:not(:focus-visible) .sort-icon {
    color: #6b7280;
}
.table-header-cell:focus-visible .sort-icon:first-child,
.table-header-cell:hover .sort-icon:first-child {
    color: #000;
}
.table-header-cell:focus-within .sort-icon:first-child {
    color: #000;
}
.table-header-cell:focus-visible .sort-asc,
.table-header-cell:hover .sort-asc {
    color: #6b7280 !important;
}
.table-header-cell:focus-visible .sort-asc ~ .sort-inactive,
.table-header-cell:hover .sort-asc ~ .sort-inactive {
    color: #000;
}
.table-header-cell:focus-visible .sort-desc,
.table-header-cell:hover .sort-desc {
    color: #6b7280 !important;
}
.table-row {
    border-bottom: 1px solid rgba(229, 195, 219, 0.25);
    background-color: #f7fafc;
    color: #4a5568;
    transition: background-color 0.3s;
}
tbody {
    background: #fff;
}
.table-row:nth-child(2n) {
    background-color: rgba(229, 195, 219, 0.25);
}
.table-row:nth-child(odd) {
    background-color: #f7fafc;
}
.table-row:hover {
    cursor: auto;
    background-color: rgba(71, 99, 160, 0.16);
    color: #1c1f25;
    text-shadow: 0 0 1px rgba(28, 31, 37, 0.56);
    line-height: 22px;
}
.table-row:nth-child(2n):hover {
    background-color: rgba(229, 195, 219, 0.45);
}
.table-cell {
    border: 1px solid rgba(229, 195, 219, 0.25);
    padding: 0.5rem;
    white-space: nowrap;
    text-align: center !important;
}
td,
th {
    min-width: 100px;
    max-width: 250px;
    height: 60px;
}
#pages-nb-selector:focus-visible,
#search-selector:focus-visible,
.search-filter-container input:not(.error):focus-visible {
    outline: var(--main-color-hover) !important;
    border-color: var(--valid-color) !important;
    box-shadow: 0 0 20px rgba(34, 197, 94, 0.25);
}
input:not(.error):focus-visible,
input:not(.valid):focus-visible,
select:not(.error):focus-visible,
select:not(.ok):focus-visible {
    outline: var(--main-color-hover) !important;
    border-color: var(--main-color-hover);
    box-shadow: 0 0 20px rgba(29, 78, 216, 0.25);
}
input.valid:focus-visible,
select.ok:focus-visible {
    outline: var(--main-color-hover) !important;
    border-color: var(--valid-color);
    box-shadow: 0 0 20px rgba(34, 197, 94, 0.25);
}
select#pages-nb-selector {
    cursor: pointer !important;
}
input.input-field.error {
    border-color: var(--error-color);
    box-shadow: 0 0 20px rgba(239, 68, 68, 0.25);
}
#pages-nb-selector,
#search-selector,
input[type="number"],
input[type="text"] {
    cursor: text !important;
    min-width: inherit;
}
.button-primary:hover,
button:focus-visible {
    outline: var(--main-color-hover) !important;
    border-color: var(--main-color-hover) !important;
    box-shadow: 0 0 20px rgba(29, 78, 216, 0.5) !important;
    background-color: var(--main-color-hover);
}
.modal-close {
    background: 0 0 !important;
}
.input-field-disabled {
    margin-top: 1rem;
    color: #fff;
    margin-left: 28px;
    display: inline;
    vertical-align: middle;
}
.info-icon {
    border-radius: 50%;
    background: #007bff;
    width: 20px;
    height: 20px;
    top: 2px;
}
.info-icon svg {
    width: 16px;
    height: 16px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}
.info {
    margin: 0.5rem 0 1rem;
    position: relative;
}
.totalEmployees {
    /* border: 1px solid #000; */
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    width: auto;
    gap: 10px;
}
